<%- include("partials/header"); -%>

<h1><%= heading %> </h1>
<p> <%= homeStartingContent %> </p>

<!-- First method to do for -->
<!--  for(var i=0;i<blogs.length;i++){ 
 console.log(blogs[i].title); 
 }  -->

<!-- Second method to do for -->
<% blogs.forEach(function(blog){ %>
    <h1><%= blog.title %> </h1>
    <p> <%= blog.post.substring(0,100)+"..." %> <a href="/posts/<%= blog.title %>" >Read More</a> </p>
  <%   }); %>
   


<%- include("partials/footer"); -%>


